@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --base-1: 300 20% 99.01960784313727%;
    --base-2: 270 19.999999999999943% 98.0392156862745%;
    --base-3: 285 14.285714285714226% 94.50980392156862%;
    --base-4: 275.99999999999983 11.627906976744214% 91.5686274509804%;
    --base-5: 274.28571428571416 12.280701754385966% 88.8235294117647%;
    --base-6: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --base-7: 257.99999999999994 11.111111111111107% 82.35294117647058%;
    --base-8: 249.2307692307693 10.400000000000006% 75.49019607843137%;
    --base-9: 249.2307692307692 5.990783410138242% 57.45098039215686%;
    --base-10: 250.00000000000006 5.042016806722695% 53.333333333333336%;
    --base-11: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --base-12: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --accent-1: 240 33.33333333333333% 99.41176470588235%;
    --accent-2: 225.00000000000006 100% 98.43137254901961%;
    --accent-3: 222.35294117647067 89.47368421052634% 96.27450980392157%;
    --accent-4: 224 100% 94.11764705882352%;
    --accent-5: 223.99999999999997 100% 91.17647058823529%;
    --accent-6: 225.48387096774192 100% 87.84313725490196%;
    --accent-7: 226.15384615384616 86.66666666666669% 82.35294117647058%;
    --accent-8: 225.9183673469388 75.38461538461539% 74.50980392156863%;
    --accent-9: 226.0377358490566 70.04405286343612% 55.490196078431374%;
    --accent-10: 226.2111801242236 65.18218623481782% 51.5686274509804%;
    --accent-11: 225.9574468085106 55.73122529644269% 50.3921568627451%;
    --accent-12: 226.2295081967213 49.59349593495935% 24.11764705882353%;
    --background: 300 20% 99.01960784313727%;
    --foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
    --card: 270 19.999999999999943% 98.0392156862745%;
    --card-foreground: 257.14285714285717 10.144927536231885%
      13.529411764705882%;
    --popover: 300 20% 99.01960784313727%;
    --popover-foreground: 257.14285714285717 10.144927536231885%
      13.529411764705882%;
    --primary: 226.2111801242236 65.18218623481782% 51.5686274509804%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 251.99999999999994 4.807692307692305%
      40.78431372549019%;
    --muted: 270 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
    --accent: 226.2111801242236 65.18218623481782% 51.5686274509804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 347.32919254658384 69.6969696969697% 54.70588235294118%;
    --destructive-foreground: 344.4155844155844 62.601626016260155%
      24.11764705882353%;
    --border: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --input: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --ring: 262.4999999999999 11.428571428571427% 86.27450980392157%;
    --radius: 0.5rem;
  }

  .dark {
    --base-1: 270 5.555555555555555% 7.0588235294117645%;
    --base-2: 270 3.8461538461538463% 10.196078431372548%;
    --base-3: 260.00000000000006 4.225352112676061% 13.92156862745098%;
    --base-4: 270 4.651162790697675% 16.862745098039216%;
    --base-5: 263.99999999999994 4.950495049504953% 19.80392156862745%;
    --base-6: 269.99999999999994 5% 23.52941176470588%;
    --base-7: 257.1428571428571 4.697986577181211% 29.215686274509807%;
    --base-8: 258.00000000000006 4.9999999999999964% 39.21568627450981%;
    --base-9: 250.90909090909096 4.803493449781661% 44.90196078431372%;
    --base-10: 250.90909090909085 4.31372549019608% 50%;
    --base-11: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --base-12: 240 6.249999999999978% 93.72549019607843%;
    --accent-1: 231.42857142857144 29.166666666666668% 9.411764705882353%;
    --accent-2: 230 31.03448275862069% 11.372549019607844%;
    --accent-3: 225.3061224489796 50.51546391752577% 19.019607843137255%;
    --accent-4: 225.21739130434784 54.330708661417326% 24.901960784313726%;
    --accent-5: 224.81012658227849 51.633986928104584% 30%;
    --accent-6: 226.42857142857142 46.66666666666667% 35.294117647058826%;
    --accent-7: 226.45161290322582 44.4976076555024% 40.98039215686274%;
    --accent-8: 225.8181818181818 45.08196721311475% 47.843137254901954%;
    --accent-9: 226.0377358490566 70.04405286343612% 55.490196078431374%;
    --accent-10: 227.5 72.72727272727272% 61.1764705882353%;
    --accent-11: 228.2474226804124 100% 80.98039215686275%;
    --accent-12: 223.90243902439025 100% 91.9607843137255%;
    --background: 270 5.555555555555555% 7.0588235294117645%;
    --foreground: 240 6.249999999999978% 93.72549019607843%;
    --card: 270 3.8461538461538463% 10.196078431372548%;
    --card-foreground: 240 6.249999999999978% 93.72549019607843%;
    --popover: 270 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 240 6.249999999999978% 93.72549019607843%;
    --primary: 227.5 72.72727272727272% 61.1764705882353%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 3.8461538461538463% 10.196078431372548%;
    --secondary-foreground: 258.00000000000006 6.944444444444459%
      71.76470588235294%;
    --muted: 270 3.8461538461538463% 10.196078431372548%;
    --muted-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --accent: 227.5 72.72727272727272% 61.1764705882353%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350.13698630136986 79.34782608695653% 63.92156862745099%;
    --destructive-foreground: 339.54545454545456 95.6521739130435%
      90.98039215686275%;
    --border: 269.99999999999994 5% 23.52941176470588%;
    --input: 269.99999999999994 5% 23.52941176470588%;
    --ring: 269.99999999999994 5% 23.52941176470588%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
